<!DOCTYPE html>
<html>

  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <meta content="utf-8" http-equiv="encoding" />
    <title>SPELL</title>
    <link rel="stylesheet" href="styles/style.css" />
    <link rel="stylesheet" href="styles/details.css" />
    <script type="text/javascript" src="libs/vue.js"></script>
    <script type="text/javascript" src="libs/vue-material.js"></script>
    <script type="text/javascript" src="libs/axios.js"></script>
    <script type="text/javascript" src="src/users-service.js"></script>
   
  </head>

  <body>
    <div id="app">

      <div class="title"></div>

      <p style="text-align: center" v-if="spells.length == 0">You deleted all the spells</p>

      <ul class="user-list" v-if="spells.length > 0">
        <li>
          <div class="user-row-header">
            <div class="user-city">type</div>
          </div>
          
        </li>

        <li v-for="(spell,index) in spells">
          <div class="sizes">
            <div  class="user-name" style="display: inline-block;" >
              <a :href="'details.html?id='+spell.id" class="user-name">{{ spell.name }}</a>
            </div>
              <div  class="sizes value_left">
                &nbsp;
                <span class=""><i>{{ spell.type }}</i></span>
                &nbsp;&nbsp;
                <button class="delete-btn" style="height :25px" v-on:click="deletespell(index)">x</button>
                &nbsp;&nbsp;
              </div>
          </div>
        </li>
      </ul>
      <button class="add-btn"  v-on:click="addspell()">+</button>
    </div>
    <script src="src/app.js"></script>
  </body>

</html>